<!DOCTYPE HTML>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<title>miQuiz</title>
	<link rel="stylesheet" href="/stylesheet/style.css" />
</head>
<body>
	<h2>miQuiz: el juego de las preguntas</h2>
	<p><%= respuesta %></p>
	<a href="/quizes/question">Inténtelo otra vez</a>
</body>
</html>